doctype html
html(lang='en', ng-app="myApp")
  head
    //- bower:css
    //- endinject

    //- bower:js
    //- endinject
    //- shared:js
    //- endinject
    //- client:js
    //- endinject
  body
    block content